* {
    margin: 0px;
    padding: 0px;
    transition: all 1s;
    box-sizing: border-box;
}

:root {
    --cor-topo: #cfca38;
    padding: 5px;
    --cor-branca: #fff;
    --cor-preta: black;
    --cor-vermelha: rgb(168, 15, 15);
}


header .nav-senai{
    display: flex;
    background-color: var(--cor-topo);
    color: #fff;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}

header .produtos{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: var(--cor-topo);
    margin: 1px;
    justify-content: space-between;
    
}

header .veiculo, .tecnologia,.casa, .eletro,  .esporte, .ferramentas,
.contrucao{
    padding: 35px;
    color: #fff;
}

header .nav-senai a {
    text-decoration: none;
    color: var(--cor-preto);
    padding: 15px;
    border-radius: 20px;
}

.container img {
    max-width:150px;
    max-height:120px;
    width: auto;
    height: auto;
}

header .botao-hambuguer{
   padding: 10px;
   
}

header input{
    width: 260px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: black ;
}

.pesquisa input[type="text"] {
    padding-left: 30px; 
    background-image: url(imagens/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-position: 5px 50%; 
    background-size: 20px 20px; 
    border: none; 
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    height: 40px; 
    font-size: 16px; 
    color: #333;
} 

header nav a:hover {
    padding: 10px 15px;
    border-radius: 50px;
    border: 0;
    background-color: #958c26;
    box-shadow: rgba(241, 29, 29, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .30s ease;
    
   }
   
 header nav a:hover {
    letter-spacing: 3px;
    background-color: rgb(169, 41, 41);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(245, 6, 6) 0px 7px 29px 0px;
   }
   
   header nav a:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(245, 6, 6) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 400ms;
   }

main .od{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

main .h2{
   padding: 15px;
    
}

main .fritadeira{
    border: black;
}

main .Border{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

main .botao{
    text-decoration: none;
    background-color: rgb(60, 60, 163);
    color: #fff;
    border-radius: 20px;
}

main .verde{
    color: rgb(103, 150, 33);
}

.meia, .laptop, .cadeira, .camera, .frita{
   border: 2px solid black;
   border-radius: 10px;
   padding: 30px;
}

.od div{
    width: 80%;
}

.varias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ferra, .celulares, .tv, .moda,
.dec, .beleza, .games{
    justify-items: center;
    padding: 15px;

}

.teste{
   text-align: center;
}

footer{
    background-color: var(--cor-topo);
    padding: 30px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    color: #fff   ;
}

footer .ace{
    text-align: end;
}

main .centraliza{
    display: block;
    text-align: center;
    padding: 15px;
    
}

main #form #form-formulario form,
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main #form #form-formulario form input,
.formulario .formulario-form form input
{
    display: block; 
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-topo);
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
    color: #fff;
}

main #form #form-formulario form button,
.formulario .formulario-form form button{
    padding: 8px;
    border: none;
    background-color: var(--cor-topo);
    color: var(#fff);
    border-radius: 10px;
    width: 380px;
    cursor: pointer;
    display: block;
}

.cadastro_link {
    display: block;
    padding-top: 17px;
}

.cadastro{
    margin-top: 10px;
}

.cadastro a{
    color: var(#fff);
    text-decoration: none;
}

.formulario .formulario-form form a{
    color: var(black);
    text-decoration: none;
    text-align: center;
}

 .registro,.logar,.cadastro{
    color: #fff;
}
.formulario{
    padding: 25px;
}

.cadastro_link{
    text-decoration: none;
    color: black;
}


/*produto direto*/
.descri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px;
    font-size: 20px;
}

.frit img{
    width: 400px;
}

main .button-compra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.bucomprar{
    margin: 80px;
    display: block;
    padding: 10px;
    background-color: rgb(130, 203, 179);
    border-radius: 20px;
    border: none;
    width: 200px;
}

main .button-compra {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.menos, .mais{
    padding: 5px;
    display: block;
    background-color: var(--cor-topo);
    border-radius: 10px;
    border: none;
    width: 100px;
    outline: none;
}

.um{
    padding: 0 22px;
}

html{
    scroll-behavior: smooth;
    padding: 0px !important;
}

    @media (max-width: 1025px) {
        .varias {
            grid-template-columns: 1fr ;
        }
        }

        @media (max-width: 1045px){
            .od div {
                grid-template-rows: repeat(4, 1fr);
            }
        }
    


}

#num{
    border: none;
    text-align: center;
    width: 36px;
    margin: 0;
    padding: 0px;
}


main{
    background-color: #f3eb9a;
}

.container img {
    width: 100%;
}

 .produtos img {
    width: 100%;
} 

.produtos h4 {
    font-size: 10px;
    
}

.produtos{
    overflow: auto;
}